* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.page-container {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .page-container {
    max-width: 720px;
  }
}
@media (min-width: 768px) {
  .page-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .page-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .page-container {
    max-width: 1530px;
  }
}
.header {
  width: 100%;
  height: 117px;
  padding: 15px 0px;
  font-family: "Montserrat", sans-serif;
  top: 0px;
  left: 0px;
  position: fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.631372549), transparent);
  z-index: 15;
  transition-duration: 0.8s;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.header._scrolled {
  background: #003896;
}

.header__body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  /* Search */
}
.header__panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__head-pannel {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}
.header__lang {
  display: flex;
  align-items: center;
}
.header__lang-btn {
  color: #fff;
  margin-left: 16px;
  transition-duration: 0.4s;
}
.header__lang-btn:nth-child(1) {
  margin: 0px;
  opacity: 0.7;
}
.header__lang-btn:nth-child(1):hover {
  opacity: 0.9;
}
.header__version {
  display: flex;
  align-items: center;
  margin: 0px 64px;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.4s;
  font-size: 0.9em;
}
.header__version:hover {
  opacity: 1;
}
.header__version:hover .header__version-text {
  opacity: 1;
}
.header__version-text {
  transition-duration: 0.4s;
  opacity: 0.7;
}
.header__version-icon {
  height: 2em;
  width: 2em;
  margin-right: 16px;
}
.header__search {
  display: flex;
  align-items: center;
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 0.9em;
}
.header__search {
  transition-duration: 0.4s;
  cursor: pointer;
}
.header__search:hover {
  opacity: 1;
}
.header__search-icon {
  height: 1.2em;
  width: 1.2em;
  margin-left: 16px;
}
.header__bottom-pannel {
  display: flex;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__item {
  transition-duration: 0.4s;
  margin: 0px 2px;
}
.header__item:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.29);
}
.header__item-link {
  display: block;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.header__item-link:hover {
  color: #fff;
}

/* Main Banner */
.main-banner {
  margin: 0;
  height: 100vh;
  min-height: 600px;
  font-weight: 100;
  background: radial-gradient(#000000, #003896);
  overflow-y: hidden;
  -webkit-animation: fadeIn 1 1s ease-out;
          animation: fadeIn 1 1s ease-out;
  transition-duration: 1.5s;
  /* Titles */
  /* Year */
  /* Btn link */
}
.main-banner__body {
  width: 100%;
  height: 100%;
  position: relative;
}
.main-banner__titles {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-banner__title-wrapper {
  display: flex;
  opacity: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: white;
  font-size: 3.5em;
  letter-spacing: 1.5px;
  position: relative;
  left: 0;
}
.main-banner__title1-wrapper {
  -webkit-animation: 14s ease-in 0s fadeOutMain1;
          animation: 14s ease-in 0s fadeOutMain1;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.main-banner__title2-wrapper {
  padding-top: 8px;
  -webkit-animation: 14s ease-in 0s fadeOutMain2;
          animation: 14s ease-in 0s fadeOutMain2;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.main-banner__title3-wrapper {
  padding-top: 8px;
  -webkit-animation: 14s ease-in 0s fadeOutMain3;
          animation: 14s ease-in 0s fadeOutMain3;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.main-banner__title4-wrapper {
  -webkit-animation: 14s ease-in 0s fadeOutMain4;
          animation: 14s ease-in 0s fadeOutMain4;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.main-banner__title-main {
  font-weight: 400;
}
.main-banner__title1, .main-banner__title2, .main-banner__title3, .main-banner__title4 {
  opacity: 0;
}
.main-banner__title1 {
  -webkit-animation: 14s ease-in 0s fadeOut1;
          animation: 14s ease-in 0s fadeOut1;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.main-banner__title2 {
  -webkit-animation: 14s ease-in 0s fadeOut2;
          animation: 14s ease-in 0s fadeOut2;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.main-banner__title3 {
  -webkit-animation: 14s ease-in 0s fadeOut3;
          animation: 14s ease-in 0s fadeOut3;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.main-banner__title4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: 14s ease-in 0s fadeOut4;
          animation: 14s ease-in 0s fadeOut4;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.main-banner__subtitle-primary {
  position: absolute;
  height: auto;
  left: 50%;
  bottom: 23%;
  transform: translate(-50%, 0%);
  font-size: 2em;
  color: #fff;
  line-height: 1em;
  text-align: center;
  opacity: 0.8;
}
.main-banner__subtitle-primary span {
  display: inline;
  font-size: 0.7em;
  line-height: 10px;
}
.main-banner__custom-logo {
  height: 4em;
  width: 12.2em;
}
.main-banner__years {
  position: absolute;
  height: auto;
  left: 10%;
  top: 18%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2.5em;
  opacity: 0.8;
}
.main-banner__years-count {
  color: #fff;
  font-weight: 300;
}
.main-banner__years-text {
  color: #fff;
}
.main-banner__btn-link-wrapper {
  width: 100%;
  position: absolute;
  height: auto;
  bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-banner__btn-link {
  border: 2px solid white;
  background: transparent;
  font-family: "Roboto", sans-serif;
  color: white;
  width: 310px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  border-radius: 5px;
  opacity: 0.5;
  top: 60vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px 2em;
  transition: 0.4s;
}
.main-banner__btn-link:hover {
  border: 2px solid #104F55;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  color: #ffffff;
  opacity: 0.8;
  transition: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.main-banner__btn-link.bottom {
  transition: 0.4s;
}
.main-banner__btn-link.bottom::after {
  content: "";
  height: 60px;
  width: 60px;
  background: url("../img/arrow-bottom-transparent.svg");
  transition-duration: 0.4s;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.4s;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  position: absolute;
  color: #fff;
}
.main-banner__btn-link.bottom:hover::after {
  content: "";
  height: 60px;
  width: 60px;
  background: url("../img/arrow-bottom.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.4s;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  position: absolute;
  color: #fff;
}

.main-banner._played {
  height: 40vh;
  font-size: 13px;
}
.main-banner._played .main-banner__years {
  top: 23%;
}
.main-banner._played .main-banner__titles {
  top: 45%;
}
.main-banner._played .main-banner__btn-link-wrapper {
  font-size: 16px;
}
.main-banner._played .main-banner__btn-link {
  margin: 0px 24px;
}

@media (max-width: 1530px) {
  .main-banner__title-wrapper {
    font-size: 2.5em;
  }
  .main-banner__custom-logo {
    height: 3.5em;
    width: 11em;
  }
  .main-banner__subtitle-primary {
    font-size: 1.5em;
  }
  .main-banner__years {
    font-size: 1.5em;
  }
  .main-banner__btn-link {
    font-size: 1.5em;
    width: 250px;
    margin: 0 1em;
  }
}
@media (max-width: 992px) {
  .main-banner__titles {
    top: 50%;
  }
  .main-banner__subtitle-primary {
    width: 100%;
    bottom: 28%;
  }
  .main-banner__btn-link-wrapper {
    flex-wrap: wrap;
    bottom: 9%;
  }
  .main-banner__btn-link {
    margin: 0 8px;
    order: 1;
    margin-bottom: 24px;
  }
  .main-banner__btn-link.bottom {
    margin-bottom: 0px;
    order: 2;
  }
  .main-banner__btn-link.bottom::after {
    background: url("../img/arrow-bottom.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 656px) {
  .main-banner__titles {
    width: 100%;
    align-items: center;
  }
  .main-banner__title-wrapper {
    width: 330px;
  }
  .main-banner__title4 {
    transform: translate(-80%, -50%);
  }
  .main-banner__custom-logo {
    height: 3.5em;
    width: 13em;
  }
}
@media (max-width: 540px) {
  .main-banner__subtitle-primary {
    bottom: 14%;
  }
  .main-banner__btn-link-wrapper {
    display: none;
  }
  .main-banner__bottom-arrow {
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, 0%);
    opacity: 0.6;
    -webkit-animation: 2s linear 0s bottomArrow infinite;
            animation: 2s linear 0s bottomArrow infinite;
    background: url("../img/arrow-bottom.svg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.4s;
  }
}
@media (max-width: 520px) {
  .main-banner__title-wrapper {
    font-size: 2em;
    width: 265px;
    padding-top: 4px;
  }
  .main-banner__title4 {
    transform: translate(-75%, -50%);
  }
  .main-banner__custom-logo {
    width: 11.5em;
  }
}
@media (max-width: 350px) {
  .main-banner__title4 {
    transform: translate(-70%, -50%);
  }
  .main-banner__custom-logo {
    width: 10em;
  }
}
.light {
  position: absolute;
  width: 0px;
  opacity: 0.75;
  background-color: white;
  box-shadow: #e9f1f1 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  transition-duration: 0.4s;
}

.x1 {
  -webkit-animation: floatUp 2.5s 1s 1 linear;
          animation: floatUp 2.5s 1s 1 linear;
  transform: scale(1);
}

.x2 {
  -webkit-animation: floatUp 7s 0s 1 linear;
          animation: floatUp 7s 0s 1 linear;
  transform: scale(1.6);
  left: 15%;
}

.x3 {
  -webkit-animation: floatUp 3s 1s 1 linear;
          animation: floatUp 3s 1s 1 linear;
  transform: scale(0.5);
  left: -15%;
}

.x4 {
  -webkit-animation: floatUp 4.5s 2s 1 linear;
          animation: floatUp 4.5s 2s 1 linear;
  transform: scale(1.2);
  left: -34%;
}

.x5 {
  -webkit-animation: floatUp 8s 1s 1 linear;
          animation: floatUp 8s 1s 1 linear;
  transform: scale(2.2);
  left: -57%;
}

.x6 {
  -webkit-animation: floatUp 11s 2s 1 linear;
          animation: floatUp 11s 2s 1 linear;
  transform: scale(0.8);
  left: -81%;
}

.x7 {
  -webkit-animation: floatUp 5.4s 2s 1 linear;
          animation: floatUp 5.4s 2s 1 linear;
  transform: scale(3.2);
  left: 37%;
}

.x8 {
  -webkit-animation: floatUp 13s 1s 1 linear;
          animation: floatUp 13s 1s 1 linear;
  transform: scale(1.7);
  left: 62%;
}

.x9 {
  -webkit-animation: floatUp 11s 2s 1 linear;
          animation: floatUp 11s 2s 1 linear;
  transform: scale(0.9);
  left: 85%;
}

button:focus {
  outline: none;
}

@-webkit-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}

@keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOutMain1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  65% {
    left: 0%;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOutMain1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  65% {
    left: 0%;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  43% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  43% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOutMain2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOutMain2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOutMain3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOutMain3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut4 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut4 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes finalFade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes finalFade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes bottomArrow {
  0% {
    bottom: 2%;
  }
  50% {
    bottom: 4%;
  }
  100% {
    bottom: 2%;
  }
}
@keyframes bottomArrow {
  0% {
    bottom: 2%;
  }
  50% {
    bottom: 4%;
  }
  100% {
    bottom: 2%;
  }
}
.advantages {
  width: 100%;
  padding: 50px 0px;
  background-color: #f3f3f3;
}
.advantages__body {
  display: flex;
  flex-wrap: wrap;
}
.advantages__title {
  width: 100%;
  font-size: 40px;
  line-height: 61px;
  color: #0a3a50;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.02em;
  padding: 32px 0px 64px;
}
.advantages__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.advantages .advantage {
  width: 33.3333333333%;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  padding: 16px 0px;
  margin-bottom: 64px;
}
.advantages .advantage__img {
  height: 40px;
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 16px;
}
.advantages .advantage__title {
  color: #0A3A50;
  font-size: 30px;
  width: 80%;
  font-weight: 400;
  line-height: 36px;
}/*# sourceMappingURL=style.css.map */